In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-macosx_11_0_arm64.whl.metadata (89 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_arm64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 2.3 MB/s eta 0:00:00a 0:00:01
Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_arm64.whl (5.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 2.3 MB/s eta 0:00:0000:0100:01
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [3]:
import pandas

In [10]:
patient_list = pandas.read_csv('data/Patient List KE.csv')
print(patient_list.shape)
patient_list.head()

(850, 31)

,Customer No.,Id,System Generated ID,EMR Person Id,CCC Patient Identifier,prediction_score,First Name,Last Name,Facility,Medication Type,...,Created By,Created On,Modified By,Modified On,Date Consented,Created At,Created By1,System ID,Modified At,Modified By1
0,CKE030015,3,f1aee3ad-d378-4f65-877b-5814a658c0b1,2423,15204-02872,9.0,JANE,MWANGI,15204.0,ART,...,1,11/03/24 13:40:00,0,11/03/24 13:40:00,07/03/24 17:29:35,25/11/24 06:35:28,{AF78F190-A3FF-45D5-BC65-63C6C7045DFB},{2604AF0F-EFAA-EF11-B8EC-002248657A36},12/12/24 12:31:43,{84ECE60E-C3FE-4625-AB30-637080A70D55}
1,CKE030016,4,62bc6318-1b76-4284-bf01-90c782228e36,13315,15204-04852,9.0,CHARLES,IKHUNGU,15204.0,ART,...,1,11/03/24 13:40:00,0,11/03/24 13:40:00,07/03/24 17:15:51,25/11/24 06:35:28,{AF78F190-A3FF-45D5-BC65-63C6C7045DFB},{2804AF0F-EFAA-EF11-B8EC-002248657A36},12/12/24 12:31:43,{84ECE60E-C3FE-4625-AB30-637080A70D55}
2,CKE030017,5,f6715a4e-887b-4abd-a47d-99e4ef93ff02,20602,15204-07464,9.0,WILLIAM,KIGEN,15204.0,ART,...,1,11/03/24 13:40:00,0,11/03/24 13:40:00,07/03/24 17:20:28,25/11/24 06:35:28,{AF78F190-A3FF-45D5-BC65-63C6C7045DFB},{2A04AF0F-EFAA-EF11-B8EC-002248657A36},12/12/24 12:31:43,{84ECE60E-C3FE-4625-AB30-637080A70D55}
3,CKE030018,6,a36b2a79-58ef-4a09-89ce-7d78d4938d5a,32145,16161-02209,9.0,KASIFA,WEKESA,16161.0,ART,...,1,11/03/24 13:40:00,0,11/03/24 13:40:00,07/03/24 17:13:35,25/11/24 06:35:28,{AF78F190-A3FF-45D5-BC65-63C6C7045DFB},{2C04AF0F-EFAA-EF11-B8EC-002248657A36},12/12/24 12:31:43,{84ECE60E-C3FE-4625-AB30-637080A70D55}
4,CKE030019,8,09bb2805-cf40-46aa-ac1c-af0e87487655,51107,15204-13123,9.0,CHARLES,MWANGI,15204.0,ART,...,1,11/03/24 13:40:00,0,11/03/24 13:40:00,07/03/24 17:16:30,25/11/24 06:35:28,{AF78F190-A3FF-45D5-BC65-63C6C7045DFB},{2E04AF0F-EFAA-EF11-B8EC-002248657A36},12/12/24 12:31:43,{84ECE60E-C3FE-4625-AB30-637080A70D55}

In [11]:
delivery_tracker = pandas.read_csv('data/Project Beyond Delivery Tracker.csv')
print(delivery_tracker.shape)
delivery_tracker.head()

(178, 18)

,Delivery Date,CCC_No,Facility,Customer Sales Order Number,Product,Client Available during First Call Attempt,Number of Call Attempts,Number of SMS Sent,Rescheduled Appointment,Escalated to AMPATH,Outome of Delivery,Number of Delivery Attempts,Delivery Location,Mode of Delievery,Client Predicted to Default,Product Returned to AMPATH,Client's Perception,Remarks
0,18/04/2024,15204-33690,MTRH,KE/SO/24/51639,PBT,NO,2,1,NO,YES,Successful,1,Mwiruti,Direct Delivery,Predictions not available,NaN,"Positive, inquired on other deliveries that we do",AMPATH peer educators reached out to the clien...
1,24/04/2024,15204-06818,MTRH,KE/SO/24/55221,PBT,YES,2,0,YES,YES,Successful,2,Mwanzo,Direct Delivery,Predictions not available,NaN,Positive,The client requested for the delivery date to ...
2,24/04/2024,15204-41041,MTRH,KE/SO/24/55224,PBT,NO,3,0,NO,NO,Successful,1,Kipsinende,Direct Delivery,Predictions not available,NaN,Positive,Client requested us to keep time and deliver b...
3,24/04/2024,15204-39489,MTRH,KE/SO/24/55223,PBT,YES,1,0,NO,NO,Successful,1,Kipkaren Estate,Direct Delivery,Predictions not available,NaN,Positive,NaN
4,24/04/2024,15204-08234,MTRH,KE/SO/24/55222,PBT,YES,1,0,NO,NO,Successful,1,Kipkaren Estate,Direct Delivery,Predictions not available,NaN,Positive,NaN

In [9]:
# find out how many records are matching between the two datasets with CCC_No from delivery_tracker and CCC Patient Identifier from patient_list
matching_records = delivery_tracker.merge(patient_list, left_on='CCC_No', right_on='CCC Patient Identifier')
print(matching_records.shape)
matching_records.head()

(170, 49)

,Delivery Date,CCC_No,Facility_x,Customer Sales Order Number,Product,Client Available during First Call Attempt,Number of Call Attempts,Number of SMS Sent,Rescheduled Appointment,Escalated to AMPATH,...,Created By,Created On,Modified By,Modified On,Date Consented,Created At,Created By1,System ID,Modified At,Modified By1
0,18/04/2024,15204-33690,MTRH,KE/SO/24/51639,PBT,NO,2,1,NO,YES,...,1,12/03/24 16:30:00,0,12/03/24 16:30:00,12/03/24 16:19:58,25/11/24 06:35:29,{AF78F190-A3FF-45D5-BC65-63C6C7045DFB},{6004AF0F-EFAA-EF11-B8EC-002248657A36},12/12/24 12:31:44,{84ECE60E-C3FE-4625-AB30-637080A70D55}
1,24/04/2024,15204-06818,MTRH,KE/SO/24/55221,PBT,YES,2,0,YES,YES,...,1,11/03/24 18:00:00,0,11/03/24 18:00:00,11/03/24 16:46:26,25/11/24 06:35:29,{AF78F190-A3FF-45D5-BC65-63C6C7045DFB},{4204AF0F-EFAA-EF11-B8EC-002248657A36},12/12/24 12:31:43,{84ECE60E-C3FE-4625-AB30-637080A70D55}
2,24/04/2024,15204-41041,MTRH,KE/SO/24/55224,PBT,NO,3,0,NO,NO,...,1,11/03/24 18:00:00,0,11/03/24 18:00:00,11/03/24 16:44:09,25/11/24 06:35:29,{AF78F190-A3FF-45D5-BC65-63C6C7045DFB},{5204AF0F-EFAA-EF11-B8EC-002248657A36},12/12/24 12:31:43,{84ECE60E-C3FE-4625-AB30-637080A70D55}
3,24/04/2024,15204-39489,MTRH,KE/SO/24/55223,PBT,YES,1,0,NO,NO,...,1,11/03/24 18:00:00,0,11/03/24 18:00:00,11/03/24 16:47:13,25/11/24 06:35:29,{AF78F190-A3FF-45D5-BC65-63C6C7045DFB},{5004AF0F-EFAA-EF11-B8EC-002248657A36},12/12/24 12:31:43,{84ECE60E-C3FE-4625-AB30-637080A70D55}
4,24/04/2024,15204-08234,MTRH,KE/SO/24/55222,PBT,YES,1,0,NO,NO,...,1,11/03/24 18:00:00,0,11/03/24 18:00:00,11/03/24 16:48:18,25/11/24 06:35:29,{AF78F190-A3FF-45D5-BC65-63C6C7045DFB},{4404AF0F-EFAA-EF11-B8EC-002248657A36},12/12/24 12:31:43,{84ECE60E-C3FE-4625-AB30-637080A70D55}

In [1]:
import pandas
predictions = pandas.read_csv('data/appointments_202301_to_202412_predictions.csv')
print(predictions.shape)
predictions.head()

(34791, 11)

,person_id,gender,risk_tier,Encounter_Date,Next_clinical_appointment,adherence_predicted,next_actual_visit,days_diff,adherence_actual,overall_appointment_success,Current_WHO_HIV_Stage
0,100013,F,High,2022-11-03 14:56:04,2023-01-26 00:00:00,1,2023-02-01 13:16:37,6,On Time,94.0,4
1,100013,F,High,2023-02-01 13:16:37,2023-04-26 00:00:00,1,2023-06-15 14:40:59,50,Late/IIT,94.0,4
2,100013,F,High,2023-06-15 14:40:59,2023-09-13 00:00:00,1,2023-07-12 11:31:01,-63,On Time,94.0,4
3,100013,F,High,2023-07-12 11:31:01,2023-09-05 00:00:00,1,2023-11-10 12:53:33,66,Late/IIT,93.0,4
4,1000304,F,High,2022-08-18 14:04:35,2023-02-14 00:00:00,0,2022-11-17 13:00:28,-89,On Time,100.0,1

In [4]:
predictions['person_id'].unique().shape

(4268,)

In [5]:
predictions['adherence_predicted'].value_counts()

adherence_predicted
1    18792
0    15999
Name: count, dtype: int64

In [6]:
predictions['adherence_actual'].value_counts()

adherence_actual
On Time     33966
Late/IIT      825
Name: count, dtype: int64